.body-dashboard .container main {
    margin-top: 1.4rem;
}

.body-dashboard .container main .analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.body-dashboard .container main .analyse > div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.body-dashboard .container main .analyse > div:hover {
    box-shadow: none;
}

.body-dashboard .container main .analyse > div .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-dashboard .container main .analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

.body-dashboard .container main .analyse .progresss {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.body-dashboard .container main .analyse svg {
    width: 7rem;
    height: 7rem;
}

.body-dashboard .container main .analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.body-dashboard .container main .analyse .sales svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.body-dashboard .container main .analyse .visits svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.body-dashboard .container main .analyse .searches svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.body-dashboard .container main .analyse .progresss .percentage {
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.body-dashboard .container main .new-users {
    margin-top: 1.3rem;
}

.body-dashboard .container main .new-users .user-list {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.body-dashboard .container main .new-users .user-list:hover {
    box-shadow: none;
}

.body-dashboard .container main .new-users .user-list .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-dashboard .container main .new-users .user-list .user img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

.body-dashboard .container main .recent-orders {
    margin-top: 1.3rem;
}

.body-dashboard .container main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

.body-dashboard .container main .recent-orders table {
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

.body-dashboard .container main .recent-orders table:hover {
    box-shadow: none;
}

.body-dashboard .container main table tbody td {
    text-align: center;
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.body-dashboard .container main .recent-orders table tr td img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.body-dashboard .container main .recent-orders table {
    border-spacing: 15px;
}

.body-dashboard .container main table tbody tr:last-child td {
    border: none;
}

.body-dashboard .container main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}