.standing-menu {
    height: 100%;
    width: 34%;
}

.toolbar {
    height: 20%;
    border-radius: 10px;
    background-color: var(--menu-color);
    margin: 10px -3px 5px 10px;
    position: relative;
}

.toolbar-item {
    position: absolute;
    left: 15px;
}

.item-search {
    top: 50px;
}

.library {
    margin: 1px -3px 5px 10px;
    border-radius: 10px;
    height: 76%;
    background-color: var(--menu-color);
}

.library-item {
    padding-left: 17px;
}

.library-item .icon-library {
    margin-right: 210px;
}

.icon-bonus {
    margin-right: 15px;
}

.toolbar-item a, .library-item a {
    text-decoration: none;
    color: var(--display-item-color);
}

a.active {
    color: var(--text-color);
}

a h4 {
    margin-left: 10px;
    display: inline-block;
}

.toolbar-item a:hover, .library-item a:hover {
    color: var(--text-color);
}

.playing {
    height: 12%;
    width: 100%;
    display: flex;
}

.playing a.link-album {
    text-decoration: none;
    color: var(--text-color);
}

.playing a.link-album:hover {
    text-decoration: underline;
}

.thumbnail {
    position: relative;
    height: 100%;
    display: flex;
    width: 30%;
}

.img-song {
    top: 5px;
    left: 15px;
    position: absolute;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border: 1px solid var(--text-color);
}

.img-song img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.link-info {
    position: absolute;
    left: 80px;
    top: 15px;
}

.link-info a{
    text-decoration: none;
}

a.link-author {
    font-size: 0.8rem;
    color: var(--display-item-color);
}

a.link-author:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.song {
    width: 40%;
    height: 100%;
}

.heart {
    position: absolute;
    left: 200px;
    top: 20px;
}

.heart button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.buttons {
    height: 50%;
    width: 100%;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.buttons button {
    background-color: transparent;
    border: none;
}

.buttons button .style-icon {
    color: var(--display-item-color);
    margin-top: 5px;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons button i {
    color: var(--display-item-color);
}

.buttons button i.active {
    color: var(--heart-color);
}

.buttons button i.active:hover {
    color: var(--heart-color);
}

.buttons button:hover i {
    color: var(--text-color);
}

#play{
    color: var(--text-color);
}

.slide-container {
    height: 50%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: var(--text-color);
}

.current-time, #seek_slide, .total-duration {
    margin-top: 10px;
    margin-right: 10px;
}

.slide-container input#seek_slide {
    width: 350px;
    margin-top: 20px;
    height: 3px;
    accent-color: var(--text-color);
}

.slide-container input#seek_slide:hover {
    cursor: pointer;
    accent-color: var(--heart-color);
    outline: none;
}

.controls-song {
    height: 100%;
    width: 30%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.controls-song div button {
    margin-top: 20px;
    background-color: transparent;
    border: none;
}

.volume-button {
    margin-top: 13px;
}

#volume {
    width: 90px;
    margin-top: 20px;
    height: 3px;
    accent-color: var(--text-color);
}

#volume:hover {
    accent-color: var(--heart-color);
}

.controls-song button:hover {
    cursor: pointer;
}

.controls-song button i {
    color: var(--display-item-color);
}

.current-time, .total-duration {
    color: var(--display-item-color);
}